.page-wrapper{
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -50px;
}
.push{
  height: 50px !important; 
}
a {
  color: white;
  text-decoration: none;

  &:hover {
    color: #5aadbb;
  }
}
