<ul class="nav nav-tabs nav-justified">
 
  <!-- Year -->
  <li class="dropdown filter">
    <a class="dropdown-toggle" data-toggle="dropdown" href aria-expanded="false">
      {{ filter.year }} <span class="caret"></span>
    </a>
    <ul class="dropdown-menu scrollable-menu">
      <li *ngFor="let year of YEARS">
        <a href (click)="$event.preventDefault()"
           (click)="onSetFilter('YEAR', year)"
           *ngIf="year!=filter.year">
          {{ year }}
        </a>
      </li>
    </ul>
  </li>

  <!--Type Import/Export -->
  <li class="dropdown filter">
    <a href class="dropdown-toggle" data-toggle="dropdown"aria-expanded="false">
      {{ filter.type }} <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li *ngFor="let type of types">
        <a href (click)="$event.preventDefault()"
           (click)="onSetFilter('TYPE', type)"        
           *ngIf="type != filter.type">
          {{ type }}
        </a>
      </li>
    </ul>
  </li>

  <!--Page Length-->
  <li class="dropdown filter">
    <a href class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
      Page Length: {{ filter.pageLength }} <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li *ngFor="let length of pageLengths">
        <a href (click)="$event.preventDefault()"
           (click)="onSetFilter('PAGELENGTH', length)"        
           *ngIf="length!=filter.pageLength">
          {{ length }}
        </a>
      </li>
    </ul>
  </li>

  <!-- Can put in a search filter too -->

</ul>