.btn-toolbar{
  display: inline-block;
}
.current-page{
  background-color: #f5f5f5;
  color: #2196f3;
}
.first, .last {
  background-color: #1c85d8 !important;
}
@media(max-width: 479px){
  .btn{
    padding-left: 8px;
    padding-right: 8px;
  }
}
  