<nav class="navbar navbar-inverse navigation-bar">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="btn navbar-toggle collapsed" (click)="isCollapsed = !isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" 
         routerLink="/" routerLinkActive="active">
         EthioTradeStats
      </a>
    </div>

    <!--Search bar component -->
    <form class="navbar-form navbar-left navbar-searchbar" role="search">
      <searchbar (onSearch)="onSearch($event)"
                 (showResults)="showResults($event)"
      ></searchbar>
    </form>


    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-right" 
         [collapse]="isCollapsed">
      <ul class="nav navbar-nav">
        
        <!-- Countries -->
        <li dropdown (onToggle)="toggled($event)">
          <a href id="simple-dropdown" 
             (click)="$event.preventDefault"
             dropdownToggle>
            Countries <span class="caret"></span>
          </a>
          <ul dropdownMenu class="dropdown-menu scrollable-menu"      
              aria-labelledby="simple-dropdown">
            <li *ngFor="let country of countries">
              <a class="dropdown-item" routerLink="/countries/{{country}}">
                {{country}}
              </a>
            </li>
          </ul>
        </li>
        
         <!--Years 
        <li dropdown (onToggle)="toggled($event)">
          <a href id="years-dropdown" 
             (click)="$event.preventDefault"
             dropdownToggle>
            Annual Summaries <span class="caret"></span>
          </a>
          <ul dropdownMenu class="dropdown-menu scrollable-menu" 
              [hidden]="!showYearsDropDown"
              aria-labelledby="simple-dropdown">
            <li *ngFor="let year of years">
              <a class="dropdown-item" routerLink="/years/{{year}}">
                {{year}}
              </a>
            </li>
          </ul>
        </li>-->

      </ul>
    </div><!-- /.navbar-collapse -->

    <!--Search Results-->
    <search-results
      [searchResults]="searchResults | async"
      [hidden]="!showSearchResults"
      (onSelect)="onSelectSearchResult($event)"
    ></search-results>

  </div> <!-- div.container-fluid-->
</nav> <!--nav.navbar-->
