.navigation-bar{
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1000;
}


@media(min-width: 768px) {
  .navbar-searchbar {
    width: 40%;
    max-width: 400px;
  }
}
.navbar-link{
  font-size: larger;
}
.scrollable-menu {
  height: auto;
  max-height: 200px;
  overflow-x: hidden;
}
